@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Indie+Flower&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Krona+One&family=Liu+Jian+Mao+Cao&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
  position: relative;
  
}
.nav-link {
  margin: 0px 20px;
  color: #43b000;
 
  font-size: 40px;
}
.navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #43b000; /* Set the color of the underline */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-brand{
    font-size: 100px;
    color: #43b000;
}

.main-content{
    margin-top: 80px;
}

.welcome{
    font-size: 6em;
    font-family: 'liu jian mao cao','sans serif';
}
.blog-website{
    font-size: 4em;
    font-family: 'Audiowide', sans-serif;
    color: #43b000;
}

.buttons-area{
    margin-top: 40px;
}
.button-1{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #43b000;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 20px 10px 40px 10px;
}
.button-1:hover {
    background-color: #43b000;
    transition-duration: 0.5s;
}
.button-2{
  width: 200px;
  padding: 10px ;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  font-weight: bold;
  border: 2px solid #43b000;
  background: transparent;
  color: #fff;
  cursor: pointer;
  margin: 20px 10px 40px 10px;
}
.button-2:hover {
  background-color: #43b000;
  transition-duration: 0.5s;
}

.text-box{
  width: 80%;
  height: 200px;
  border: 2px solid #43b000;
  background-color: #292929;
  border-radius: 10px;
  margin-top: 40px;
  padding: 10px;
  margin-bottom: 5em ;
}

footer{
  position: fixed;
  bottom: 0;
 
  
  padding: 10px;
  z-index: 999;
}
.blog-p{
  margin: 20px;
  margin-bottom: 40px;
  border: 2px solid #43b000;
  border-radius: 2px;
  padding: 40px;
}